/*----------兼容ie9以下-------*/

.a,.b,.c,.d,.e,.aa,.bb,.cc,.ee,.dd{
	opacity:1;
	filter:alpha(opacity=100);
}
.w-main-one-content{
	opacity:1;
	filter:alpha(opacity=100);
	background: rgba(255,255,255,.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff); 
}
.products,.author{
	opacity:1;
	filter:alpha(opacity=100);
}
.boke1,.boke2,.boke3,.boke4,.boke5,.boke6{
	opacity:1;
	filter:alpha(opacity=100);
}
.bokeLeft,.bokeRight,.boke .title{
	opacity:1;
	filter:alpha(opacity=100);
}